.review-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author {
  font-size: 14px;
  font-weight: 500;
}

.read-more {
  font-size: 14px;
  font-weight: 500;
}

.review-content {
  font-weight: 300;
}