---
layout: stages
title: Stages
permalink: /stages/
---

<!-- Main content -->
<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Stages de pré-rentrée en Maths et Physique-Chimie</h1>
      <p class="lead">Préparez-vous pour la nouvelle année scolaire avec des stages intensifs en maths et physique.</p>
    </div>
  </div>
  
  <!-- Stages Information -->
  {% include stages_offer.html %}

  <!-- Description -->
  {% include stages_description.html %}

  <!-- Registration Form -->
  {% include registration_form.html %}
</div>
