<section class="resume-section d-column" id="about" style="border-bottom: 1px solid #eee">
  <div class="mb-4 d-flex justify-content-center align-items-center d-md-none">
    <img class="img-fluid img-profile rounded-circle w-50"
      src="https://cours-math.s3.amazonaws.com/photo-presentation/profile2.jpg" alt="photo-stephane-cedroni">
  </div>
  <div class="section-title-container">
    <span class="section-title">About</h3>
  </div>
  <p>
    I am passionate about education and teaching. I have been tutoring students from 6th to 12th grade, as well
    as College students, in Mathematics and Physics for over 15 years.
  </p>
  <p>
    From 2018 to 2019, I taught Mathematics and Physics at the <a href="http://steiner.edu">Rudolf Steiner School</a> on
    the
    Upper East Side.
  </p>
  <p>
    My track record has demonstrated that I can make a big difference not only in a child's grades/results but also in
    his/her
    learning
    habits
    and overall confidence.
  </p>
  <p>
    I live with my wife Eléonore and children in Miami.
  </p>
  <p>
    Please reach out with any questions you might have. I look forward to hearing from you and working together.
  </p>
</section>