<section class="resume-section d-column" id="about" style="border-bottom: 1px solid #eee">
  <h3>About</h3>
  <br>
  <p>
    Hi, <br> I am passionate about education and teaching. I have been tutoring students from 6th to 12th grade, as well
    as College students, in Mathematics and Physics for over 10 years.
  </p>
  <p>
    Since 2018, I have been teaching Mathematics and Physics at the <a href="http://rudolfsteiner.com">Rudolf Steiner School</a> on the
    Upper East Side.
  </p>
  <p>
    I truly believe that I can make a big difference not only in a child's grades/results but also in his/her working techniques
    and overall confidence.
  </p>
  <p>
    I live with my wife Eléonore and my son Henri on the Upper East Side.
  </p>
  <p>
    Please reach out with any questions you might have. I look forward to hearing from you and working together.
  </p>
</section>