<section class="resume-section" id="education" style="border-bottom: 1px solid #eee">
  <!-- <h3 style="margin-top: 40px;margin-bottom: 40px;">Education</h3> -->
  <h3 style="margin-top: 0px;margin-bottom: 40px;">Education</h3>
  <div class="card shadow-sm" style="border-radius: 0; margin-bottom: 10px">
    <div class="card-body">
      <div style="display: flex; flex-direction: row;">
        <img style="width: 80px; height: 80px;" src="https://dl.dropboxusercontent.com/s/g9iw6ygu0ugkxr9/polytechnique_1.jpg" alt="..."
          class="img-thumbnail rounded-circle profile-image">
        <div style="margin-left: 30px">
          <div style="font-size: 20px">Ecole Polytechnique</div>
          <div style="font-size: 16px; color: #999">Master's Degree</div>
          <div style="font-size: 16px; color: #999">Applied Mathematics</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow-sm" style="border-radius: 0; margin-bottom: 10px">
    <div class="card-body">
      <div style="display: flex; flex-direction: row;">
        <img style="width: 80px; height: 80px;" src="https://dl.dropboxusercontent.com/s/00jsvb9mk07ld6b/pNEFXL._SX425_.jpg" alt="..."
          class="img-thumbnail rounded-circle profile-image">
        <div style="margin-left: 30px">
          <div style="font-size: 20px">Columbia University</div>
          <div style="font-size: 16px; color: #999">Master's Degree</div>
          <div style="font-size: 16px; color: #999">Operations Research</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow-sm" style="border-radius: 0; margin-bottom: 10px">
    <div class="card-body">
      <div style="display: flex; flex-direction: row;">
        <img style="width: 80px; height: 80px;" src="https://dl.dropboxusercontent.com/s/ths2mctn34bcnk3/LLG_logo.png" alt="..."
          class="img-thumbnail rounded-circle profile-image">
        <div style="margin-left: 30px">
          <div style="font-size: 20px">Lycée Louis-Le-Grand</div>
          <div style="font-size: 16px; color: #999">Classes Préparatoires MP/MP* et Lycée</div>
          <div style="font-size: 16px; color: #999">Bac S Mention TB</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- src="https://dl.dropboxusercontent.com/s/ths2mctn34bcnk3/LLG_logo.png"
src="https://dl.dropboxusercontent.com/s/g9iw6ygu0ugkxr9/polytechnique_1.jpg"
src="https://dl.dropboxusercontent.com/s/00jsvb9mk07ld6b/pNEFXL._SX425_.jpg" -->