<section class="resume-section" id="faq" style="border-bottom: 1px solid #eee">
  <div class="section-title-container">
    <span class="section-title">FAQ</h3>
  </div>

  <div id="accordion">
    <div class="card mb-3" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
      aria-controls="collapseOne">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link">
            Where do the lessons take place?
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          I bring extensive experience with online classes, utilizing tools like Google Docs and an iPad to document everything needed during sessions and to maintain a record of previous lessons. The iPad serves as a digital blackboard.
        </div>
      </div>
    </div>

    <div class="card mb-3" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">
            How long is a lesson?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          I recommend two 40-minute sessions per week. Based on my experience, this schedule optimizes the student’s focus and helps them stay up to date with the class material. Additionally, I assign homework between classes to reinforce the concepts covered.
        </div>
      </div>
    </div>

    <div class="card mb-3" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
      aria-controls="collapseFour">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
            aria-expanded="false" aria-controls="collapseFour">
            What is your hourly rate?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          For all questions regarding my rates and payments please contact me directly (see section above).
        </div>
      </div>
    </div>
  </div>
</section>