<section class="resume-section" id="faq" style="border-bottom: 1px solid #eee">
  <div class="section-title-container">
    <span class="section-title">FAQ</h3>
  </div>

  <div id="accordion">
    <div class="card mb-3" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link">
            Where do the lessons take place?
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          The first lesson always takes place at your home so that I can meet with the parents afterwards to give my first impressions on their child & explain what my plan is moving forward. Afterwards, I give all of my lessons at my home office.
        </div>
      </div>
    </div>

    <div class="card mb-3" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How long is a lesson?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          A lesson lasts 2 hours. Over the years I have observed that a 2-hour slot is ideal for maximizing learning.
        </div>
      </div>
    </div>

    <div class="card mb-3" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Do you offer skype lessons?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Yes I do offer skype lessons. Please contact me for more information about them.
        </div>
      </div>
    </div>

    <div class="card mb-3" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            What is your hourly rate?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          For all questions regarding my rates and payments please contact me directly (see section above).
        </div>
      </div>
    </div>
  </div>
</section>