<div class="row mt-5 mb-80" id="inscription">
  <div class="col-12">
    <h2 class="text-center">Inscription</h2>
    <form class="wj-contact" action="https://submit-form.com/5npFL9QmS" method="POST">
      <div class="form-row">
        <div class="form-group col-md-6 pr-4">
          <label for="inputName">Prénom et Nom</label>
          <input name="inputName" type="text" class="form-control" id="inputName" placeholder="Nom" required>
        </div>
        <div class="form-group col-md-6 pr-4">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 pr-4">
          <label for="inputPhone">Téléphone</label>
          <input type="tel" class="form-control" id="inputPhone" name="inputPhone" placeholder="Téléphone" required>
        </div>
        <div class="form-group col-md-6 pr-4">
          <label for="inputWeek">Choisir la semaine</label>
          <select name="inputWeek" id="inputWeek" class="form-control" style="margin-top: 0.25em;">
            <option selected>Semaine du 19 août</option>
            <option>Semaine du 26 août</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 pr-4">
          <label for="inputGrade">Choisir la classe</label>
          <select name="inputGrade" id="inputGrade" class="form-control">
            <option selected>Troisième</option>
            <option>Seconde</option>
            <option>Première Spé Maths</option>
            <option>Première Spé Physique</option>
            <option>Terminale Spé Maths</option>
            <option>Terminale Spé Physique</option>
          </select>
        </div>
        <div class="form-group col-md-6 pr-4">
          <label for="inputSubject">Choisir la matière</label>
          <select name="inputSubject" id="inputSubject" class="form-control">
            <option selected>Mathématiques</option>
            <option>Physique-Chimie</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 pr-4">
          <label for="dispoOption">Disponibilité</label>
          <select name="dispoOption" id="dispoOption" class="form-control">
            <option selected>Matin</option>
            <option>Après-midi</option>
            <option>Matin et après-midi</option>
          </select>
        </div>
        <div class="form-group col-md-6 pr-4">
          <label for="inputOption">Choisir l'option</label>
          <select name="groupOption" id="inputOption" class="form-control">
            <option selected>En groupe</option>
            <option>Individuel</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputAverageGrade">Moyenne de l'année précédente</label>
          <input type="number" class="form-control" id="inputAverageGrade" name="inputAverageGrade" placeholder="Moyenne" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="inputNotes">Informations supplémentaires</label>
          <textarea class="form-control" id="inputNotes" name="inputNotes" rows="4" placeholder="Ajoutez des informations supplémentaires ici..."></textarea>
        </div>
      </div>
      <input type="hidden" name="_subject" value="Registration Form Submission">
      <div class="h-captcha" data-sitekey="28a00b00-9240-4cfc-86e2-2932b2662cd2"></div>
      <input type="submit" value="Envoyer">
    </form>
  </div>
</div>