<section class="resume-section" id="reviews" style="border-bottom: 1px solid #eee">
  <h3 style="margin-top: 0px;margin-bottom: 40px;">Reviews</h3>
  <div class="container p-0">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
          <div class="card-body p-4">
            {{ "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit sapiente nostrum distinctio illo sunt id quaerat fugit
            odit temporibus qui modi, sit doloribus praesentium dignissimos optio ipsum, nulla perferendis unde." | truncate:
            150 }}
            <div class="review-footer mt-3">
              <span class="author">
                Mulan Ashwin <br>
                11th grade at the LFNY
              </span>
              <button type="button" class="btn btn-link p-0 read-more" data-toggle="modal" data-target="#exampleModalLong">
                read more
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
          <div class="card-body p-4">
            {{ "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit sapiente nostrum distinctio illo sunt id quaerat fugit
            odit temporibus qui modi, sit doloribus praesentium dignissimos optio ipsum, nulla perferendis unde." | truncate:
            150 }}
            <div class="review-footer mt-3">
              <span class="author">
                Mulan Ashwin
              </span>
              <button type="button" class="btn btn-link p-0 read-more" data-toggle="modal" data-target="#exampleModalLong">
                read more
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
          <div class="card-body p-4">
            {{ "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit sapiente nostrum distinctio illo sunt id quaerat fugit
            odit temporibus qui modi, sit doloribus praesentium dignissimos optio ipsum, nulla perferendis unde." | truncate:
            150 }}
            <div class="review-footer mt-3">
              <span class="author">
                Mulan Ashwin
              </span>
              <button type="button" class="btn btn-link p-0 read-more" data-toggle="modal" data-target="#exampleModalLong">
                read more
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
          <div class="card-body p-4">
            {{ "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit sapiente nostrum distinctio illo sunt id quaerat fugit
            odit temporibus qui modi, sit doloribus praesentium dignissimos optio ipsum, nulla perferendis unde." | truncate:
            150 }}
            <div class="review-footer mt-3">
              <span class="author">
                Mulan Ashwin
              </span>
              <button type="button" class="btn btn-link p-0 read-more" data-toggle="modal" data-target="#exampleModalLong">
                read more
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>