<section class="resume-section d-block" id="skills" style="border-bottom: 1px solid #eee">
  <h3 style="margin-top: 0px;margin-bottom: 40px; ">Teaching Skills & Education</h3>
  <div class="feature">
    <i class="feature-icon far fa-list-alt"></i>
    <div class="feature-content">
      <h4>Test Prep</h4>
      <p>
        <ul class="fa-ul">
          <li><span class="fa-li" ><i class="far fa-check-square"></i></span>SAT, ACT</li>
          <li><span class="fa-li" ><i class="far fa-check-square"></i></span>GMAT, GRE</li>
        </ul>
      </p>
    </div>
  </div>
  <br>
  <div class="feature">
    <i class="feature-icon fas fa-user-graduate"></i>
    <div class="feature-content">
      <h4>High School</h4>
      <p>
        <ul class="fa-ul">
          <li><span class="fa-li" ><i class="fas fa-arrow-right"></i></span>Mathematics</li>
          <li><span class="fa-li" ><i class="fas fa-arrow-right"></i></span>Physics</li>
          <li><span class="fa-li" ><i class="fas fa-arrow-right"></i></span>French Baccalauréat S/ES</li>
        </ul>
      </p>
    </div>
  </div>
</section>