<div class="row mt-5" id="matieres">
  <div class="col-md-6">
    <div class="card mb-4">
      <img src="https://images.unsplash.com/photo-1676302440263-c6b4cea29567?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&h=600&q=80" class="card-img-top" alt="Maths Stage">
      <div class="card-body">
        <h5 class="card-title">Stage de Maths</h5>
        <p class="card-text">Révisez les concepts clés des mathématiques pour être prêt pour la nouvelle année scolaire. Ce stage couvre les chapitres importants de l'année précédente.</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Dates: semaines du 21 août et 28 août</li>
          <li class="list-group-item">Prix: 290$/semaine</li>
          <li class="list-group-item">Moyen: via Zoom</li>
          <li class="list-group-item">En groupe ou individuel</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="card mb-4">
      <img src="https://images.unsplash.com/photo-1614728263952-84ea256f9679?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&h=600&q=80" class="card-img-top" alt="Physique Stage">
      <div class="card-body">
        <h5 class="card-title">Stage de Physique-Chimie</h5>
        <p class="card-text">Revoir les chapitres importants en physique pour progresser et apprécier les sciences. Ce stage couvre les sujets essentiels de l'année précédente.</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Dates: semaines du 21 août et 28 août</li>
          <li class="list-group-item">Prix: 290$/semaine</li>
          <li class="list-group-item">Moyen: via Zoom</li>
          <li class="list-group-item">En groupe ou individuel</li>
        </ul>
      </div>
    </div>
  </div>
</div>