<div class="container mt-5" id="programme">
  <div class="row">
    <!-- Left Column -->
    <div class="col-md-6">
      <h2>Le programme</h2>
      <ul>
        <li>Les cours sont organisés via Zoom avec partage d'écran en guise de tableau</li>
        <li>Des devoirs et exercices à préparer d'un cours à l'autre pour optimiser les révisions</li>
        <li>Je demande aux élèves en avance les concepts de l'année passée qui ont été moins bien assimilés pour les réviser</li>
        <li>L'accent est mis sur les méthodes et connaissances fondamentales pour réussir l'année à venir</li>
      </ul>
    </div>
    
    <!-- Right Column -->
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/991244289" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
